<div ng-init="configureRoom()">
  <div class="switch">
    <label class="label" ng-disabled="forceRevealDisable" data-on="You are a voter" data-off="You are a spectator" for="voter">
      <input type="checkbox" ng-model="voter" ng-disabled="forceRevealDisable" ng-change="toggleVoter()" id="voter"title="You can toggle voting/spectating while voting is in progress.">
      <span ng-show="voter" title="You can toggle voting/spectating while voting is in progress.">I am voting</span>
      <span ng-show="!voter" title="You can toggle voting/spectating while voting is in progress.">Spectating</span>
    </label>

      <button ng-show="showAdmin" ng-click="resetVote()" class="btn btn--small" ng-disabled="forceRevealDisable" title="Start a new vote">
        Reset
      </button>
      <button ng-show="showAdmin" ng-click="forceReveal()" class="btn btn--small" ng-disabled="forceRevealDisable" title="Force a reveal of all cards if there are some stragglers" >
        Reveal
      </button>

      <div ng-show="showAdmin" id="dd" class="{{dropdownClass}} dropdown-wrapper btn btn--tertiary btn--small" ng-click="openDropdown()">
        <span>{{cardPack}} pack</span> <i class="icon icon--arrow-down icon--default" title="icon icon--arrow-down icon--default">arrow-down</i>
        <ul class="dropdown">
          <li class="dropdown__item" ng-repeat="(deck, cards) in decks">
            <a
              href="#"
              ng-model="cardPack"
              ng-click="setCardPack(deck)"
              id="deck{{deck}}"
            >
              <span class="dropdown__item--selected" ng-show="deck === cardPack">&#10003;</span>
              {{deck}}<br>
              <small>{{cards.join(', ')}}</small>
            </a>
          </li>
        </ul>
      </div>
      <strong ng-show="showAdmin" class="admin-indicator" ng-switch on="showAdmin">⚡️ Room Admin</strong>

  </div>
  <section class="votePanel" >
    <div class="cards{{votingState}}" id="chosenCards">
      <div
        title="{{(connection.forcedReveal || connection.votes.length === connection.voterCount) ? '' : connection.name}}"
        ng-repeat="connection in connections track by $index"
        ng-hide="! connection.voter || (connection.vote == null)"
        ng-click="unvote(connection.vote.sessionId)"
        class="card card--2-sided vote btn btn--tertiary btn--small"
        selectedvote
        style="color: {{ votingState ? 'inherit' : connection.color}}; border-color: {{votingState ? 'inherit' : connection.color}};"
      >
        <div class="card--side-1">&#10003;</div>
        <div class="card--side-2">{{connection.vote}}</div>
        <div class="card--name">{{votingState ? 'Mystery voter' : connection.name}}</div>
      </div>

      <div
        title="{{(connection.forcedReveal || connection.votes.length === connection.voterCount) ? '' : connection.name}}"
        ng-repeat="connection in connections track by $index"
        ng-hide="! connection.voter || (connection.vote != null)"
        class="card card--2-sided vote btn btn--tertiary btn--small"
        disabled
        style="color: {{connection.color}}; border-color: {{connection.color}};"
      >
        <div class="card--side-1">?</div>
        <div class="card--side-2">?</div>
        <div class="card--name">{{connection.name}}</div>
      </div>
    </div>
    <div
      class="post-vote-controls"
      ng-show="forceRevealDisable"
    >
      <button ng-click="resetVote()" class="btn btn--small" title="Start a new vote">
        Start New Vote
      </button>
    </div>

  </section>

  <div class="my-votes">
    <div class="cardPanel-meta">
      <div ng-show="voter">
        <div ng-switch on="voted">
          <p ng-switch-when="false">Hello <strong style="color: {{myColor}}">{{myName}}</strong>, please choose your estimate...</p>
          <p ng-switch-when="true">Hello <strong style="color: {{myColor}}">{{myName}}</strong>.</p>
        </div>
      </div>
      <p ng-hide="voter">Hello <strong>spectator <span style="color: {{myColor}}">{{myName}}</span></strong>, you have chosen not to vote.</p>
    </div>

    <div ng-switch on="showCustom">
      <div ng-switch-when="true">
        <section class="cardPanel" ng-show="voter">
          <div class="cards{{cardsState}}">
            <input ng-model="customPack" ui-enter="setCardPack(customPack)" name="packfield" id="packfield" type="tel" maxlength="200" placeholder="comma separated values" class="form__field" autofocus/>
            <button ng-click="setCardPack(customPack)" class="btn">Set Custom Pack</button>
          </div>
        </section>
      </div>
      <div ng-switch-when="false">
        <section class="cardPanel" ng-show="voter">
          <div class="cards{{cardsState}}">
            <div ng-show="cards" ng-repeat="card in cards track by $index" ng-disabled="!voter || forceRevealDisable" ng-click="vote(card)" class="card btn btn--tertiary btn--small" ng-class="{'card--selected' : card==myVote}" cardvalue>
              {{card}}
            </div>
            <div ng-hide="cards" class="waiting">
              No cards found
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
